:root {
    --default-font-size: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #121212;
        --2nd-bg-color: #BB86FC33;
        --main-text-color: #FFFFFF;
        --2nd-text-color: #BB86FC;
        --main-link-color: #6200EE;
        --2nd-link-color: #03DAC6;
        --nav-bg-color: #03DAC6bb;
        --border-color: ;
        
    }
    /* Dark theme styles go here */
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #FFFFFF;
        --main-text-color: #000000;
        --main-link-color: #018786;
        --2nd-link-color: #03DAC6;
        --nav-bg-color: #000000;
    }
    /* Light theme styles go here */
}

/* ======== BODY GO SOLO BABY ======== */

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll; */
    font-family: 'VT323',
    Arial,
    Helvetica,
    sans-serif;
}

/* ======== PICTURE/HEADER ======== */

header {
}

.whoIsMe {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.profileIcon {
    border-radius: 100px;
    max-width: 150px;
    margin: 0px 20px 0px 0px;
    /* grid-area: profileIcon; */
}

h1, h2 {

}

/* ======== DARK MODE BUTTON ========*/

.darkToggle {
    /* grid-area: darkToggle; */
}

/* ======== NAVIGATION LINKS ======== */

#PAYATTENTIONTOME {
    font-size: 24px;
    /* grid-area: PAYATTENTIONTOME; */
}

nav {
    font-size: 32px;
    background: var(--nav-bg-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    border-style: solid hidden solid hidden;
    border-width: 3px;
    border-radius: 5px;
    justify-content: space-around;
    padding: 12px;
    margin: 30px 0px 50px 0px;
}

a:link {
    color: var(--main-link-color);
}

a:visited {
    color: var(--main-link-color);
}

a: {

}

/* ======== ARTICLE STYLES ========*/


main {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.blogArticle {
    background: var(--2nd-bg-color);
    margin: 1rem;
    min-height: 10rem;
    overflow: hidden;
    min-width: 50vw;
    max-width: 80vw;
    margin: 1rem 0;
    border-style: solid hidden solid hidden;
    border-width: 3px;
    border-radius: 10px;
    /* grid-area: blogArticle; */
}

h3 {
    font-size: 28px;
    text-align: center;
    border-style: hidden hidden groove hidden;
    border-color: ;
    border-width: 5px;
    padding: 20px;
}


.blogText {
    text-indent: 40px;
    font-size: var(--default-font-size);
    line-height: calc(var(--default-font-size) + 8px);
    /* text-shadow: 0 0 1px #232323; */
    margin: 15px 20px;
}

footer {
}

.itsTheFooter {
    /* grid-area: itsTheFooter; */
}

/* ========= DESKTOP STYLE ========*/

@media screen and (min-width:768px) {
    .whoIsMe {
        max-width: 90vh;
        font-size: 18px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px;
    }
    
    .profileIcon {
        border-radius: 100px;
        max-width: 150px;
        /* grid-area: profileIcon; */
    }
    nav {
        font-size: 36px;
        background: var(--nav-bg-color);
        min-width: 10rem;
        max-width: 10rem;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        margin-bottom: 40px;
        position: absolute;
        float: left;
    }

    .navLinks {
        margin: 6px 0px;
    }

    .blogArticle {
        max-width: 50vw;
        border-style: solid hidden solid hidden;
        border-width: 5px;
        border-radius: 10px;
        /* grid-area: blogArticle; */
    }
}