:root {
    --default-font-size: 1.5rem;
}

/* Dark Mode is the assumed default. Styles for it go here */
:root, :root.dark {
    --main-bg-color: #121212;
    --2nd-bg-color: #BB86FC33;
    --main-text-color: #FFFFFF;
    --2nd-text-color: #BB86FC;
    --main-link-color: #6200EE;
    --2nd-link-color: #6200EE;
    --nav-bg-color: #03DAC6cc;
    --main-border-color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    :root.light {
        --main-bg-color: #F8F0E3;
        --2nd-bg-color: #BB86FC88;
        --main-text-color: #000000;
        --2nd-text-color: #BB86FC;
        --main-link-color: #03DAC6;
        --2nd-link-color: #018786;
        --nav-bg-color: #6200EEaa;
        --main-border-color: #000000;
    }
    /* Light theme styles go here */
}

/* ======== Dark/Light Mode Toggle Button ========*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    width: 60px;
    height: 34px;
    margin-left: -1rem;
    margin-right: 0rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.clicker {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nav-bg-color);
    transition: .4s;
    transition: .4s;
}

.clicker:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    transition: .4s;
}

input:checked+.clicker {
    background-color: var(--nav-bg-color);
}

input:focus+.clicker {
    box-shadow: 0 0 1px var(--nav-bg-color);
}

input:checked+.clicker:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.clicker.round {
    border-radius: 34px;
}

.clicker.round:before {
    border-radius: 50%;
}

/* ======== THE BIG BOIS THREE ======== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll; */
    font-family: 'VT323',
    Arial,
    Helvetica,
    sans-serif;
}

.itsTheFooter {
    display: flex;
    margin-top: 20rem;
    margin-bottom: 2rem;
    justify-content: center;;
}

/* ======== PICTURE/HEADER ======== */

.whoIsMe {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 10px;
}

.profileIcon {
    border-radius: 100px;
    max-width: 150px;
    margin: 0px 20px 0px 0px;
    /* grid-area: profileIcon; */
}

/* ======== NAVIGATION LINKS ======== */

#PAYATTENTIONTOME {
    font-size: 24px;
}

#PAYATTENTIONTOME a {
    color: var(--2nd-link-color);
    white-space: nowrap;
}

nav {
    font-size: 2rem;
    background: var(--nav-bg-color);
    width: 93vw;
    display: flex;
    flex-direction: row;
    border-style: solid hidden solid hidden;
    border-color: var(--main-border-color);
    border-width: 3px;
    border-radius: 5px;
    justify-content: space-around;
    padding: 12px;
    margin: 30px auto 50px auto;
}

#kebabbed {
    display: none;
}

#navToggler {
    display: none;
}

a:link {
    color: var(--main-link-color);
}

a:visited {
    color: var(--main-link-color);
}

/* ======== ARTICLE STYLES ========*/


.blogArticle {
    background: var(--2nd-bg-color);
    margin: 1rem;
    min-height: 20rem;
    overflow: hidden;
    max-width: 85vw;
    /* margin: 1rem 0; */
    border-style: solid hidden solid hidden;
    border-color: var(--main-border-color);
    border-width: 3px;
    border-radius: 10px;
}

h3 {
    min-height: 80px;
    font-size: 2.5rem;
    text-align: center;
    border-style: hidden hidden groove hidden;
    border-color: var(--main-border-color);
    border-width: 5px;
    padding: 20px 20px;
}


.blogText {
    text-indent: 40px;
    font-size: var(--default-font-size);
    line-height: calc(var(--default-font-size) + 8px);
    /* text-shadow: 0 0 1px #232323; */
    margin: 15px 20px;
}

/* ========= PROJECTS PAGE CAROUSEL ======== */

.slider {
    width: 85vw;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    background: var(--2nd-bg-color);
    margin: 1rem;
    margin: 1rem 0;
    border-style: solid hidden solid hidden;
    border-color: var(--main-border-color);
    border-width: 3px;
    border-radius: 10px;
}

.slider .slider-item {
    width: 100%;
    display: none;
    position: absolute;
    transition: transform 400ms;
}

.slider .slider-item.active,
.slider .slider-item.prev-item,
.slider .slider-item.next-item {
    display: block;
}

.slider-control-prev,
.slider-control-next {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    top: 90%;
    transform: translateY(-50%);
    opacity: 0.3;
    transition: opacity 300ms;
}

.slider-control-prev {
    left: 20px;
}

.slider-control-prev:hover {
    opacity: 1;
}

.slider-control-next {
    right: 20px;
}

.slider-item.prev-item {
    transform: translateX(-100%);
}

.slider-item.next-item {
    transform: translateX(100%);
}

.slider-item.prev-item,
.slider-item.active.slide-next {
    transform: translateX(-100%);
}

.slider-item.active.slide-prev,
.slider-item.next-item {
    transform: translateX(100%);
}

.slider-item.prev-item.slide-end,
.slider-item.next-item.slide-end {
    transform: translateX(0);
}

#portfolioImage {
    margin-top: 2rem;
    max-width: 90%;
    width: auto;
}

/* ========= DESKTOP STYLE ========*/

@media screen and (min-width:768px) {
    .whoIsMe {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px;
    }
    
    .profileIcon {
        border-radius: 100px;
        max-width: 150px;
    }

    #expanded {
        display: flex;
        font-size: 3rem;
        background: var(--nav-bg-color);
        min-width: 10rem;
        max-width: 10rem;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        border-width: 5px;
        margin-bottom: 40px;
        position: absolute;
        float: left;
        }

    #kebabbed {
        display: none;
        font-size: 0rem;
        background: var(--nav-bg-color);
        width: 1rem;
        min-height: 240px;
        flex-direction: column;
        justify-content: space-around;
        border-style: solid dashed solid hidden;
        padding: 5px;
        border-width: 5px;
        margin-bottom: 40px;
        position: absolute;
        float: left;
        }

    #navToggler {
        display: flex;
    }

    .navLinks {
        margin: 6px 0px;
    }

    .blogArticle {
        max-width: 70vw;
        margin-left: 10rem;
        border-style: solid hidden solid hidden;
        justify-content: center;
        border-width: 5px;
        border-radius: 10px;
    }

/* ========= PROJECTS PAGE CAROUSEL - DESKTOP EDITION, YOOOOO~ ======== */

    .slider {
        max-width: 70vw;
        margin-left: 10rem;
    }
    
}
